@import './variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: "Futura PT", sans-serif;
  font-size: 62.5%;
  letter-spacing: 1.24px;
  line-height: 1.24;
  color: $gray-dark;
  @media (max-width: $breakpoint-tablet) {
    font-size: 58%;
  }
  @media (max-width: $breakpoint-phone) {
    font-size: 52%;
  }
}

body {
  min-width: $min-width;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li, a, button, input, label, span {
  font-size: 1.5rem;
}
p {
  font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Big Casion", serif;
  font-weight: normal;
}
h1 {
  font-size: 3.2rem;
  
}
h2 {
  font-size: 2.8rem;
}