// COLORS
$black: #000000;
$gray-dark: #444444;
$gray: #505050;
$gray-light: #CACACA;
$gray-lightest: #D5D5D5;
$white: #ffffff;
$pink: #F098B5;

$bg-gray-1: #F5F1ED;
$bg-gray-2: #FAFAFA;
$bg-gray-3: #EDEEEE;

// BREAKPOINTS
$breakpoint-phone: 768px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;

// MEASUREMENTS GLOBAL
$min-width: 340px;
$max-width: 1316px;
// SPECIFIC