@import '../../styles/variables.scss';

.button {
  width: 300px;
  height: 45px;
  border: 0;
  letter-spacing: 1.56px;
  cursor: pointer;
  @media (max-width: $breakpoint-phone) {
    width: 100%;
  }

  &.button-filled {
    background-color: $gray-dark;
    color: white;
  }

  &.button-clear {
    background-color: transparent;
    color: $gray-dark;
    border: 2px solid $gray-dark;
  }

  &:hover {
    background: $pink;
    color: white;
    transition: 0.12s ease-in-out;
    border: 0;
  }

  &:active {
    opacity: 0.8;
  }
}