@import '../styles/variables.scss';

.home-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;

  & .home-hero-wrap {
    width: 100vw;
    height: 115vh;
    position: relative;
    display: flex;
    background: $bg-gray-3;
    @media (max-width: $breakpoint-phone) {
      height: 120vh;
      flex-direction: column-reverse;
    }

    & .home-hero-left {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media (max-width: $breakpoint-phone) {
        width: 100%;
        height: 50%;
      }

      & .home-hero-quiz-wrap {
        width: $max-width / 2;
        min-width: $min-width;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @media (max-width: $breakpoint-phone) {
          width: 100%;
        }

        & .home-hero-title {
          max-width: 400px;
        }
        
        & .home-hero-text {
          max-width: 300px;
        }

        & .home-hero-arrow {
          margin: 16px 0;
        }
      }
    }

    & .home-hero-right {
      width: 50%;
      height: 100%;
      position: relative;
      @media (max-width: $breakpoint-phone) {
        width: 100%;
        height: 50%;
      }

      & .home-img-fluid {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  & .home-section-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $bg-gray-1;
    
    &:nth-child(3) {
      @media (max-width: $breakpoint-tablet) {
        padding-bottom: 80px;
      }
      @media (max-width: $breakpoint-phone) {
        padding-bottom: 200px;
      }
    }

    & .home-section {
      max-width: 1140px;
      width: 100%;
      position: relative;
      display: flex;
      padding: 50px 20px;
      @media (max-width: $breakpoint-tablet) {
        padding: 40px 20px;
        padding-bottom: 80px;
      }
      @media (max-width: $breakpoint-phone) {
        padding: 20px 0;
        padding-bottom: 120px;
      }

      &.reversed {
        flex-direction: row-reverse;
      }

      & .home-section-img-wrap {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $breakpoint-phone) {
          justify-content: flex-start;
        }
        
        & .home-section-img {
          height: 640px;
          width: 500px;
          @media (max-width: $breakpoint-tablet) {
            height: 560px;
            width: 440px;
          }
          @media (max-width: $breakpoint-phone) {
            height: 380px;
            width: 280px;
          }

          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      & .home-section-textbox-wrap {
        z-index: 1; 
        position: relative;
        @media (max-width: $breakpoint-phone) {
          transform: translateY(240px);
        }

        & .home-section-textbox {
          width: calc(100% + 100px);
          transform: translateY(120px);
          padding: 65px 80px 80px 80px;
          background: white;
  
          &.reversed {
            transform: translateX(-100px) translateY(120px);
          }

          @media (max-width: $breakpoint-tablet) {
            max-width: 560px;
            transform: translateY(240px);
            padding: 40px;
            &.reversed {
              transform: translateX(-80px) translateY(240px);
            }
          }
          @media (max-width: $breakpoint-phone) {
            width: calc(100vw - 80px);
            transform: translateX(200px) translateY(0px);
            padding: 40px 20px;
            &.reversed {
              transform: translateX(-200px) translateY(0px);
            }
          }
  
          & .home-section-text {
            line-height: 1.56;
            margin: 30px 0;
          }
  
          & .home-controls-wrap {
            display: flex;
            justify-content: flex-end;
  
            & .home-control-arrow {
              padding: 8px 30px;
              cursor: pointer;
  
              &:hover {
                opacity: 0.5;
                transition: 0.12s ease-in-out;
              }
            }
          }
        }
      }
    }

  }

}

@media (max-width: $breakpoint-phone) {
  .hidden-phone {
    display: none;
  }
}